// Colors
$black: #000;
$white: #fff;
$purple: #4d148c;
$orange: #ff6200;
$blue: #007ab7;
$light-grey: #f2f2f2;
$dark-grey: #8c8c8c;

// Typography
$default-color: #333;
$header-color: #646464;
$fsb: 1rem;
$fsh1: 1.5rem;
$lhb: 1.5;
$lhh: 1.15;
