// BUTTON
button,
a.button,
.btn,
a.btn {
  @include button;
  &:hover,
  &:focus {
    background-color: rgba($orange, 0.85);
    cursor: pointer;
  }
  &--active {
    @include button($white, $purple);
    @include scale(1.2, 0.7rem);
    &:hover,
    &:focus {
      background-color: rgba($purple, 0.85);
    }
  }
  &--disabled {
    @include button($default-color, $light-grey);
    cursor: not-allowed;
  }
  &--default {
    @include button($orange, transparent);
    border-color: $orange;
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: rgba($orange, 0.75);
      color: rgba($orange, 0.75);
    }
  }
}

.button-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
