// SUMMARY LIST
.summary-list-container {
  .list__summary {
    background-color: $light-grey;
    margin: 0;
    padding: 0 6rem;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    line-height: 0;
    &.open {
      height: auto;
      opacity: 1;
      padding: 4rem 6rem;
      line-height: 1.8;
    }
    li:not(.item--region):not(.item--details):not(.item-format):not(.item-css-class):not(.item-source) {
      text-transform: capitalize;
    }
    .item--details__list {
      padding-left: 1rem;
      font-size: 90%;
      ul {
        @include my(0.5rem);
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid $light-grey;
    margin: 0;
    @include py(1.4rem);
    transition: all 0.2s ease-in-out;
    &::after {
      content: url(/images/chevron-down-icon.svg);
      width: 1rem;
      height: auto;
    }
    &:hover,
    &:focus {
      color: $orange;
      cursor: pointer;
      &::after {
        content: url(/images/chevron-down-icon-orange.svg);
      }
    }
  }
  &:last-of-type {
    .heading {
      border-bottom: 2px solid $light-grey;
    }
  }
}
